# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.factory.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Simon\Desktop\factory\.idea\.idea.factory.dir\.idea/dataSources/
/dataSources.local.xml
